.page-loading {
  .page-header__logo {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  .page-header__menu {
    opacity: 1;

    ul li a.active {
      &::after {
        width: 100%;
      }
    }
  }

  .social-block__toggler {
    visibility: visible;

    &::before {
      transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
    }

    svg {
      opacity: 1;
    }
  }

  .page-header__toggler {
    opacity: 1;
  }

  .screen__footer,
  .screen__disclaimer {
    transform: translate3d(0, 0, 0);
  }
}
