$c-light: #ffffff;
$c-dark: #5f458c;
$c-purple: #a67ee5;
$c-blue-dark: #3e72ee;
$c-blue-light: #a0ceff;

$font: "Proxima Nova", "Arial", sans-serif;
$font-alt: "Radical",  "Arial", sans-serif;

$stop-scaling: 2000px;

$wide-screen: "min-aspect-ratio: 1680/650";

$wider: "min-aspect-ratio: 1441/760";
$narrower: "max-aspect-ratio: 1439/760";

$tablet: 1024px;
$mobile: 768px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$index: 1.38871;

$animation-time-1: 0.15s;
$animation-time-2: 0.3s;
$animation-time-3: 0.5s;

:root {
  --menuLinkColor: #a67ee5;
  --socialBlockTogglerColor: #5f458c;
}
